<%# <%= form_tag search_courses_path, method: :get do %>
  <%# <%= text_field_tag :q, params[:q] %>
<%# <% end %>

<div class='search_container'>
  <div class='search_top_row_container'>
    <div class='search_bar'>
      Search Courses Here!!!
    </div>
  </div>
  <div class='search_middle_row_container'>
    <div class='search_filter_button_container academic_year_filter'>
      <div class='filter_text academic_year_text'>
        Academic Year
      </div>
      <div class='filter_arrow academic_year_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container program_filter'>
      <div class='filter_text program_text'>
        Program
      </div>
      <div class='filter_arrow program_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container quarter_filter'>
      <div class='filter_text quarter_text'>
        Quarter
      </div>
      <div class='filter_arrow quarter_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container course_area_filter'>
      <div class='filter_text course_area_text'>
        Course Area
      </div>
      <div class='filter_arrow course_area_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container sort_container'>
      <div class='search_sort_text'>
        Sort
      </div>
      <div class='search_sort_arrows'>
        &#8645
      </div>
    </div>
  </div>
  <div class='search_bottom_row_container'>
    <div class='search_filter_button_container day_filter'>
      <div class='filter_text day_text'>
        Day
      </div>
      <div class='filter_arrow day_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container start_time_filter'>
      <div class='filter_text start_time_text'>
        Start Time
      </div>
      <div class='filter_arrow start_time_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container credits_filter'>
      <div class='filter_text credits_text'>
        Credits
      </div>
      <div class='filter_arrow credits_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container concentration_filter'>
      <div class='filter_text concentration_text'>
        Concentration
      </div>
      <div class='filter_arrow concentration_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container clear_container'>
      <div class='search_clear_button'>
        CLEAR ALL
      </div>
    </div>
  </div>
</div>

<%# <%# <div>
 <%# <%= search_form_for @q do |f| %>
   <%# <%= f.search_field :title_or_number_cont, placeholder: 'Course title' %>
   <%# <%= f.search_field :sections_program_cont, placeholder: 'program' %>
   <%# <%= f.search_field :sections_quarter_cont, placeholder: 'Quarter' %>
   <%# <%= f.search_field :sections_title_cont, placeholder: 'Day' %>
   <%# <%= f.search_field :sections_title_cont, placeholder: 'Course Area' %>
   <%# <%= f.search_field :credits_cont, placeholder: 'Credits' %>
   <%# <%= f.search_field :title_cont, placeholder: 'Lab' %>
   <%# <%= f.search_field :sections_start_time_cont, placeholder: 'Start Time' %>
   <%# <%= f.search_field :title_cont, placeholder: 'Concentration' %>

   <%# <%= f.submit %>
 <%# <% end %>
<%# </div> %>