<div class='search_container'>
  <div class='search_top_row_container'>
    <div class='search_bar'>
      Search Courses Here!!!
    </div>
  </div>
  <div class='search_middle_row_container'>
    <div class='search_filter_button_container academic_year_filter'>
      <div class='filter_text academic_year_text'>
        Academic Year
      </div>
      <div class='filter_arrow academic_year_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container program_filter'>
      <div class='filter_text program_text'>
        Program
      </div>
      <div class='filter_arrow program_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container quarter_filter'>
      <div class='filter_text quarter_text'>
        Quarter
      </div>
      <div class='filter_arrow quarter_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container course_area_filter'>
      <div class='filter_text course_area_text'>
        Course Area
      </div>
      <div class='filter_arrow course_area_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container sort_container'>
      <div class='search_sort_text'>
        Sort
      </div>
      <div class='search_sort_arrows'>
        &#8645
      </div>
    </div>
  </div>
  <div class='search_bottom_row_container'>
    <div class='search_filter_button_container day_filter'>
      <div class='filter_text day_text'>
        Day
      </div>
      <div class='filter_arrow day_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container start_time_filter'>
      <div class='filter_text start_time_text'>
        Start Time
      </div>
      <div class='filter_arrow start_time_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container credits_filter'>
      <div class='filter_text credits_text'>
        Credits
      </div>
      <div class='filter_arrow credits_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container concentration_filter'>
      <div class='filter_text concentration_text'>
        Concentration
      </div>
      <div class='filter_arrow concentration_icon'>
        &#8964 
      </div>
    </div>
    <div class='search_filter_button_container clear_container'>
      <div class='search_clear_button'>
        CLEAR ALL
      </div>
    </div>
  </div>
</div>

<hr>

<div>
 <%= search_form_for @q do |f| %>

  <%= f.search_field :searchable_or_sections_searchable_cont, placeholder: 'Search Courses!!' %>
  <%= f.select :sections_academic_year_cont_any,
      options_for_select([['2022-2023', '2022-2023'],
                          ['2021-2022', '2021-2022']]),
      {},
      { multiple: true } %>
  
  <%= f.select :sections_program_cont_any,
      options_for_select([['Full-Time MBA', 'Full-Time MBA'],
                          ['Evening MBA',   'Evening MBA'],
                          ['Weekend MBA',   'Weekend MBA'],
                          ['PhD Program',   'PhD Program']]),
      {},
      { multiple: true } %>
  
  <%= f.select :sections_quarter_cont_any,
      options_for_select([['Autumn', 'Autumn'],
                          ['Winter', 'Winter'],
                          ['Spring', 'Spring'],
                          ['Summer', 'Summer']]),
      {},
      { multiple: true } %>

  <%= f.select :searchable_course_areas_list_cont_any,
      options_for_select([['Course Areas',  '']]),
      {},
      { multiple: true } %>

  <%= f.select :sections_searchable_meet_days_list_cont_any,
      options_for_select([['Monday',    'Monday'],
                          ['Tuesday',   'Tuesday'],
                          ['Wednesday', 'Wednesday'],
                          ['Thursday',  'Thursday'],
                          ['Friday',    'Friday'],
                          ['Saturday',  'Saturday']]),
      {},
      { multiple: true } %>

  <%= f.select :sections_searchable_time_of_day_list_cont_any,
      options_for_select([['Morning',   'Morning'],
                          ['Afternoon', 'Afternoon'],
                          ['Evening',   'Evening']]),
      {},
      { multiple: true } %>

  <%= f.select :credits_eq,
      options_for_select([50, 100]),
      {},
      { multiple: true } %>

  <%= f.select :searchable_concentrations_list_cont_any,
      options_for_select([['Concentrations',  '']]),
      {},
      { multiple: true } %>

  <%= f.submit %>
  <% end %>
</div>

<%= @courses.count %>
<hr>
<%= @courses_query.each do |hash| %>
  <%= p hash %>
<% end %>