<div class='select2-search-containter'>
  <%= search_form_for @q, html: { class: 'search-form-container'} do |f| %>
    <div class='search-bar-container'>
      <%= f.search_field :searchable_or_sections_searchable_cont,
            placeholder: 'Search Courses!!',
            class: 'search-bar2' %>
    </div>
    <div class='search-year-program-quarter-container'>
      <%= f.select :sections_academic_year_cont_any,
          options_for_select([['2022-2023', '2022-2023'],
                              ['2021-2022', '2021-2022']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-academic-year',
            multiple: true
          } %>
      
      <%= f.select :sections_program_cont_any,
          options_for_select([['Full-Time', 'Full-Time MBA'],
                              ['Evening',   'Evening MBA'],
                              ['Weekend',   'Weekend MBA'],
                              ['PhD',       'PhD Program']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-program',
            multiple: true
          } %>
      
      <%= f.select :sections_quarter_cont_any,
          options_for_select([['Autumn', 'Autumn'],
                              ['Winter', 'Winter'],
                              ['Spring', 'Spring'],
                              ['Summer', 'Summer']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-quarter',
            multiple: true
          } %>
    </div>
    <div class='filter-day-time-container'>
      <%= f.select :sections_searchable_meet_days_list_cont_any,
          options_for_select([['Sunday',    'Sunday'],
                              ['Monday',    'Monday'],
                              ['Tuesday',   'Tuesday'],
                              ['Wednesday', 'Wednesday'],
                              ['Thursday',  'Thursday'],
                              ['Friday',    'Friday'],
                              ['Saturday',  'Saturday']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-meet-days',
            multiple: true
          } %>

      <%= f.select :sections_searchable_time_of_day_list_cont_any,
          options_for_select([['Morning',   'Morning'],
                              ['Afternoon', 'Afternoon'],
                              ['Evening',   'Evening']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-time-of-day',
            multiple: true
          } %>

      <%= f.select :credits_eq_any,
          options_for_select([['50 Credits', 50], ['100 Credits', 100]]),
          {},
          { 
            class: 'js-filter-multiple js-filter-credits',
            multiple: true
          } %>
    </div>
    <div class='filter-course-areas-concentrations-container'>
      <%= f.select :searchable_course_areas_list_cont_any,
          options_for_select([['Course Areas',  '']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-course_areas',
            multiple: true
          } %>

      <%= f.select :searchable_concentrations_list_cont_any,
          options_for_select([['Concentrations',  '']]),
          {},
          { 
            class: 'js-filter-multiple js-filter-concentrations-list',
            multiple: true
          } %>
    </div>
    <div class='sort-container'>
      <%= sort_link(@q, :searchable_avg_overall_score, 'Overall Score')%>
      <%= sort_link(@q, :searchable_avg_hours_committed, 'Hours Committed')%>
      <%= sort_link(@q, :searchable_ratio_overall_hours, 'High Score / Low Effort')%>
      <%= 'Clear All Button' %>
    </div>
    <div class='search-submit-container'>

      <%= f.submit %>
    </div>
  <% end %>
</div>

<%# <%= @courses.count %>
<hr>

<%# <% unless @courses_query.nil? %>
  <%# <% @courses_query.each do |hash| %>
    <%# <%= p hash %>
  <%# <% end %>
<%# <% end %>