<h1><%= @course.title%> sections - Academic Year 2021-2022</h1>

<div class='section_index2'>
  <% @sections.each do |section| %>
    <div class='section_card2'>
      <div class='section_title_info_fav_container2'>
        <div class='section_course_title_container2'>
          <div class='section_course_title_data2'>
            <%= @course.title.truncate(55) %>
          </div>
        </div>
        <div class='section_info_fav_container2'>
          <div class='section_info_container2'>
            <div class='section_number_quarter_container2'>
              <div class='section_number_container2'>
                <div class='section_number_data2'>
                  <%= @course.number %>-<%= section.section %>
                </div>
              </div>
              <div class='section_quarter_container2'>
                <div class='section_quarter_data2'>
                  (<%= section.quarter %> <%= section.year %>)
                </div>
              </div>
            </div>
            <div class='section_instructor_container2'>
              <div class='section_instructor_data2'>
                <%# Instructor Name(s) %>
                <%= section.list_instructors.truncate(30) %>
              </div>
            </div>
            <div class='section_credits_container2'>
              <div class='section_credits_data2'>
                Credits: <%= section.credits %>
              </div>
            </div>
          </div>
          <div class='section_fav_container2'>
            <div class='section_fav_data2'>
              &#9733
            </div>
          </div>
        </div>
      </div>
      <div class='section_day_time_loc_container2'>
        <div class='section_day_time_container2'>
          <div class='section_day_container2'>
            <div class='section_day_header2'>
              Day(s)
            </div>
            <div class='section_day_data2'>
              <%= section.meeting_days %>
            </div>
          </div>
          <div class='section_start_time_container2'>
            <div class='section_start_time_header2'>
              Start
            </div>
            <div class='section_start_time_data2'>
              <%= section.start_time %>
            </div>
          </div>
          <div class='section_end_time_container2'>
            <div class='section_end_time_header2'>
              End
            </div>
            <div class='section_end_time_data2'>
              <%= section.end_time %>
            </div>
          </div>
        </div>
        <div class='section_location_container2'>
          <div class='section_location_data'>
            <%= section.building %> <%= section.room %>
          </div>
        </div>
      </div>
      <div class='section_syllabus_container2'>
        <div class='section_syllabus_data'>
          Syllabus
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class='section_bidhistory_eval_container'>
  <div class='section_bhe_header_rows'>
    <div class='section_bhe_course course_header'>
      Course
    </div>
    <div class='section_bhe_term term_header'>
      Term
    </div>
    <div class='section_bhe_day day_header'>
      Day
    </div>
    <div class='section_bhe_time time_header'>
      Time
    </div>
    <div class='section_bhe_hours_committed hours_committed_header'>
      Hours Committed
    </div>
    <div class='section_bhe_overall_score overall_score_header'>
      Oveall Score
    </div>
    <div class='section_bhe_recommended_score recommended_score_header'>
      Recommended Score
    </div>
    <div class='section_bhe_interesting_score interesting_score_header'>
      Material Conveyed Interesting Score
    </div>
    <div class='section_bhe_clear_score clear_score_header'>
      Material Conveyed Clear Score
    </div>
    <div class='section_bhe_round_container'>
      <div class='section_bhe_round round_header'>
        Round 1
      </div>
      <div class='section_bhe_price price_header'>
        Price
      </div>
      <div class='section_bhe_enrolled enrolled_header'>
        Enrolled
      </div>
    </div>
    <div class='section_bhe_round_container'>
      <div class='section_bhe_round round_header'>
        Round 2
      </div>
      <div class='section_bhe_price price_header'>
        Price
      </div>
      <div class='section_bhe_enrolled enrolled_header'>
        Enrolled
      </div>
    </div>
    <div class='section_bhe_round_container'>
      <div class='section_bhe_round'>
        Round 3
      </div>
      <div class='section_bhe_price price_header'>
        Price
      </div>
      <div class='section_bhe_enrolled enrolled_header'>
          Enrolled
      </div>
    </div>
  </div>
  <div class='section_bhe_data_container'>
    <% @all_sections.each do |section| %>
      <% next if section.bid_history.nil? | section.evaluations.empty? %>
      <div class='section_bhe_data_row'>  
        <div class='section_bhe_course'>
          <%= @course.number%>-<%= section.section %>
        </div>
        <div class='section_bhe_term'>
          <%= section.quarter[0..2].upcase %><%= section.year[-2..]%>  
        </div>
        <div class='section_bhe_day'>
          <%= section.meeting_days %>
        </div>
        <div class='section_bhe_time'>
          <%= section.start_time %> - <%= section.end_time %>
        </div>
        <div class='section_bhe_hours_committed'>
          <%= section.evaluations.first.hours_committed %>
        </div>
        <div class='section_bhe_overall_score'>
          <%= section.evaluations.first.useful_course_overall_score %>
        </div>
        <div class='section_bhe_recommended_score'>
          <%= section.evaluations.first.recommendation_score %>
        </div>
        <div class='section_bhe_interesting_score'>
          <%= section.evaluations.first.material_conveyed_interesting_score %>
        </div>
        <div class='section_bhe_clear_score'>
          <%= section.evaluations.first.material_conveyed_clear_score %>
        </div>
        <div class='section_bhe_round_container'>
          <div class='section_bhe_price'>
            <%= section.bid_history.phase1_price %>
          </div>
          <div class='section_bhe_enrolled'>
            <%= section.bid_history.phase1_enrollment %> /
            <%= section.bid_history.phase1_enrollment %>
          </div>
        </div>
        <div class='section_bhe_round_container'>
          <div class='section_bhe_price'>
            <%= section.bid_history.phase2_price %>
          </div>
          <div class='section_bhe_enrolled'>
            <%= section.bid_history.phase2_enrollment %> /
            <%= section.bid_history.phase2_enrollment %>
          </div>
        </div>
        <div class='section_bhe_round_container'>
          <div class='section_bhe_price'>
            <%= section.bid_history.phase3_price %>
          </div>
          <div class='section_bhe_enrolled'>
            <%= section.bid_history.phase3_enrollment %> /
            <%= section.bid_history.phase3_enrollment %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
