<h1>All courses</h1>

<table>
  <tr>
    <th>
      Course Title
    </th>
    <th>
      Course Number
    </th>
    <th>
      Course Section
    </th>
    <th>
      Year
    </th>
    <th>
      Quarter
    </th>
    <th>
      Program
    </th>
    <th>
      Meeting Days
    </th>
    <th>
      Start Time
    </th>
    <th>
      End Time
    </th>
    <th>
      Building
    </th>
    <th>
      Room
    </th>
    <th>
      Credits
    </th>
  </tr>

  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= course.title %>
    </td>
    <td>
      <%= course.number %>
    </td>
    <td>
      <%= course.section %>
    </td>
    <td>
      <%= course.year %>
    </td>
    <td>
      <%= course.quarter %>
    </td>
    <td>
      <%= course.program %>
    </td>
    <td>
      <%= "Sunday " if course.sunday %>
      <%= "Monday " if course.monday %>
      <%= "Tuesday " if course.tuesday %>
      <%= "Wednesday " if course.wednesday %>
      <%= "Thursday " if course.thursday %>
      <%= "Friday " if course.friday %>
      <%= "Saturday " if course.saturday %>
    </td>
    <td>
      <%= course.start_time %>
    </td>
    <td>
      <%= course.end_time %>
    </td>
    <td>
      <%= course.building %>
    </td>
    <td>
      <%= course.room %>
    </td>
    <td>
      <%= course.credits %>
    </td>
  </tr>
  <% end %>
</table>